<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Ghaida's Website !🩷⭐️</title>


</head>

<body class="chefHome" >
    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()> <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c0adda"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> </a></li>
            <li> <a class="logo"href =" /"> Ghaida. </a></li>
            <li> <a href ="#"> About </a></li>
            <li> <a href ="/createrecipe"> My Projects </a></li>
            <li> <a href ="https://www.github.com/ghaidahiz">  Github :D </a></li>

        </ul>

        <ul>
            <li> <a class="logo"href =" /"> Ghaida. </a></li>
            <li class="hideOnMobile"> <a href ="#"> About </a></li>
            <li class="hideOnMobile"> <a href ="/createrecipe"> My Projects </a></li>
            <li class="hideOnMobile"> <a href ="https://www.github.com/ghaidahiz"> 
                 Github :D </a></li>
            <li class="hideOnPc" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="70px" fill="#c0adda"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>

        </ul>
    </nav>
    <section class="Ghaida">
        <div class="Ghaida-content">
            <h1> تبحث عن وصفات لذيذة بمكونات
            </h1> <h1></h1>
             <h1 class="me"> في بيتك؟ </h1>
            <h3> جرّب الطباخ الذكي! </h3>
                <p></p>
                <div class="btn-box">
                    <a onclick=showForm() href="#">الطباخ الذكي</a>
                </div>
            </div> 
            <form class="form-container" action="/reciperesult" method="POST">
                <div>
                    <p> </p>
                    <label for="ingList"> ادخل المكونات مفصولة بمسافة: </label>
                    <input type="text" class="textArea" id="ingList" name="ingList" placeholder="دجاج بطاطس زبدة" required>
                </div>
        
                <br>
        
                <div>
                    <input type="submit" class="submit" value="اصنع وصفة!">
                </div>
        
            </form>
        
    
    </section>
    <br>


    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display='flex'
        }
        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display='none'
        }
        function showForm() {
            const form = document.querySelector(".form-container")
            form.style.display='block'
            hideContent()
            }
            function hideContent() {
            const form = document.querySelector(".Ghaida-content")
            form.style.display='none'
            }
        

    </script>
</body>


</html>