<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Ghaida's Website !🩷⭐️</title>


</head>

<body class="home" >
    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()> <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c0adda"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> </a></li>
            <li> <a class="logo"href =" /"> Ghaida. </a></li>
            <li> <a href ="#"> About </a></li>
            <li> <a href ="/createrecipe"> My Projects </a></li>
            <li> <a href ="https://www.github.com/ghaidahiz">  Github :D </a></li>

        </ul>

        <ul>
            <li> <a class="logo"href =" /"> Ghaida. </a></li>
            <li class="hideOnMobile"> <a href ="#"> About </a></li>
            <li class="hideOnMobile"> <a href ="createrecipe"> My Projects </a></li>
            <li class="hideOnMobile"> <a href ="https://www.github.com/ghaidahiz"> 
                 Github :D </a></li>
            <li class="hideOnPc" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="70px" fill="#c0adda"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>

        </ul>
    </nav>
    <section class="Ghaida">
        <div class="Ghaida-content">
            <h1> Hello! I'm</h1> <h1></h1>
             <h1 class="me"> Ghaida Alzaidan</h1>
            <h3> Aspiring Developer </h3>
                <p>I'm someone who loves building cool things with code. Whether it's making websites, playing around with new tech, or figuring out creative solutions, I'm always up for a challenge. I also have a thing for new experiences, fun projects, and learning something new every day. Welcome to my little space on the internet!</p>
                <div class="btn-box">
                    <a href="/createrecipe">My projects</a>
                </div>
            </div>
    
    </section>
    <br>


    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display='flex'
        }
        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display='none'
        }
    </script>
</body>


</html>